body,h1,h2,h3,h4,h5,h6 {font-family: 'Ubuntu', sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

.w3-content {
  max-width: 1240px;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('./img/fundo1.jpg');
  background-size: cover;
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("./img/fundo3.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("./img/fundo2.jpg");
  min-height: 400px;
}

.banner{
  min-height:600px;
  background-color: antiquewhite;
}

.icone{
  margin-top:-.3em;
  min-height: 2.5em;
  width: auto;
}

.func{
  position: relative;
  width: -webkit-fill-available;
}

.color-1 {
  color:#F5336C ;
}
.color-2 {
  color:#02ABED ;
}
.color-3 {
  color:#FFC105 ;
}
.color-4 {
  color:#7643F5 ;
}
.color-5 {
  color:#F24405 ;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}